* text=auto

*.png binary
*.ico binary
*.jpg binary
*.jpeg binary
*.mp4 binary
*.webm binary
*.zip binary
*.jar binary
*.dll binary
*.exe binary
*.dat binary
*.pak binary
*.bin binary
*.lib binary
*.jmod binary
*.ctsym binary
