assets/icons/*.png text diff working-tree-encoding=UTF-8
assets/bg/*.mp4 text diff working-tree-encoding=UTF-8
assets/bg/*.webm text diff working-tree-encoding=UTF-8
assets/bg/*.png text diff working-tree-encoding=UTF-8
